.headerBack {
    background:#337ab7;
    color:white;
}
#board{
    background:url();
    height:400px;
    width: 400px;
    margin:0 auto;
}
.gameSquare{
    width:33%;
    height:33%;
    float:left;
    background:grey;
    border:thin solid white;
}
.filledBox{
    padding:25px;
    font-size:48px;
}
.mB{
    margin-bottom:10px;
}